<div class="container px-5 px-md-0">
<%= form_with model: @user, local: true do |f| %>

  <div class="row py-5 px-md-5">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto offset-lg-6">
    <h2>User info</h2>

    <%= render 'layouts/error_message',book: @user %>


        <div class="form-group">
          <%= f.label :Name %><br>
          <%= f.text_field :name,class:"form w-100 px-3 py-1" %>
        </div>

        <div class="form-group">
          <%= f.label :Image %><br>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>


        <div class="form-group">
          <%= f.label :Introduction %><br>
          <%= f.text_area :introduction,class:"form w-100 px-3 py-1" %>
        </div>
        <%= f.submit "Update User",class:"btn btn-secondary" %>
        <% end %>
    </div>
  </div>
</div>